<!DOCTYPE html>
<html>
<head>
  <title>MotionActivatedMidi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>
	<h1>sequence</h1>
	<br>
	<div id="menu">
    <%= link_to('Home', root_path)%> 
   	<% if session[:current_user] %>
      <% @current_user ||= User.find(session[:current_user]) %>
      <%= link_to @current_user.username, user_path(@current_user) %> 
     	<%= link_to 'Sign Out', logout_path %>
     	
    <% else %>
      <div id='form1-container'>
    		<span id="login-link">
    			<%= link_to 'Log In' %>  | 
    		</span>
    	</div>
    	<div id="form2-container">
    		<span id='register-link'>
    			<%= link_to 'Sign Up' %> 
    		</span>
    	</div>
    <% end %>
  </div>

  <div id="login-form">
  	<%= render partial: 'sessions/form' %>
  </div>

  <div id="register-form">
  	<%= render partial: 'users/form' %>
  </div>

  <%= yield %>

</header>	

<body>
	
		<div class="buttonColorDiv">
			<button class="color" id="blue"></button>
			<button class="color" id="yellow"></button>
			<button class="color" id="purple"></button>
			<button class="color" id="green"></button>
		</div>
		<div class="buttonControlsDiv">
			<button class="play" id="play"></button>
			<button class="pause" id="pause"></button>
			<button class="clear" id="clear"></button>
		</div>	

	<div class="mainContainer">
		<div class="cellsContainer"></div>
	</div>		

</body>
</html>
